.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.food-card{
    width:450px;
    margin:10px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid black;
    border-radius: 12px;background-color: rgb(230, 165, 154);
}
.food-img{
    width:100%;
    /* border-top-left-radius: 11px;
    border-top-right-radius: 11px; */
    border-radius: 10px;

}
.btn{
    border:none;
    font-weight: bolder;
    padding:12px 32px;
    background-color: tomato;
    border-radius: 12px;

}
.text-container{
    padding: 10px;
    cursor:pointer;
}
.help{
    border:2px solid black;
    background-color: greenyellow;
    color: blue;
    display: inline;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:16px 35px;
    border-radius: 30px;
    position:fixed;
    bottom:0;
    right:0;
    margin:30
}
.offer{
    width:450px;
    margin:10px auto;
    border: 2px solid rgb(48, 46, 46);
    border-radius: 12px;
    padding:18px 10px;
    text-align: center;
    background-color: rgb(52, 121, 190);
    font-weight: bolder;
    top:0;
    


}
 
